dash==1.19.0
dash-core-components==1.15.0
dash-daq==0.3.1
dash-html-components==1.1.2
dash-renderer==1.4.1
dash-table==4.7.0
dash-table-experiments==0.6.0
ipyleaflet==0.12.3
ipython ==7.20.0
jupyter_dash==0.3.1
numpy==1.20.0
pandas==1.2.1
plotly==4.8.0
watermark==2.2.0
